[Unit]
Description=discount-detective
After=syslog.target

[Service]
User=discount-detective
ExecStart=sh gradlew bootRun
WorkingDirectory=/var/app/api
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target